image: dweomer/docker:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}{{#if build.branch}}{{build.branch}}{{else}}devel{{/if}}{{/if}}-dind
{{#if build.tags}}
tags:
  - dind
{{#each build.tags}}
  - {{this}}-dind
{{/each}}
{{/if}}
manifests:
  -
    image: dweomer/docker:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}{{#if build.branch}}{{build.branch}}{{else}}devel{{/if}}{{/if}}-dind-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: dweomer/docker:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}{{#if build.branch}}{{build.branch}}{{else}}devel{{/if}}{{/if}}-dind-linux-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: dweomer/docker:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}{{#if build.branch}}{{build.branch}}{{else}}devel{{/if}}{{/if}}-dind-linux-arm
    platform:
      architecture: arm
      os: linux
      variant: v7
